body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {

  padding-top: 100px;
}

.row-wrapper {
  display: flex;
  border: 1px solid #000;
  border-bottom: none;
}

.row-wrapper:last-child {
  border-bottom: 1px solid #000;
}
.rows {
  width: 25%;
  border-right: 1px solid #000;
}

.row-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
}

.row-image {
  width: 20px;
  height: 20px
}